@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');



.bgtransitiongreen{
    background: linear-gradient(93.01deg, #006C2C 0%, #00933C 100%);
}

@font-face {
    font-family: NoeDisplay;
    src: url(../src/assets/fonts/NoeDisplay-Semibold.otf);
}
@font-face {
    font-family: NoeStandard;
    src: url(../src/assets/fonts/NoeStandard-Bold.otf);
}
.cssprogress { 
    padding: 100px 120px 64px;
}
.csshighlights {
    padding: 60px 120px 80px;
}

.highlightscard {
    padding: 36px 38px;
}

.image-highlights{
    object-fit : cover;
}

.cssaims {
    padding: 80px 108px 100px;
}
.sidesection {
    padding: 0px 28px 0px 0px;
}